<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.group %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Station:</strong>
  <%= @event.station %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @event.detail %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
